.container1 {
  position: relative;
  max-width: 100%;
}

.container1 .contents {
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
}
.container2 > div {
  padding: 20px;
}
body {background-color: #ccffee !important;}

.delivered:after {
  content: " - delivered";
}
.delivered {
  color: lightgray;
}
.finished:after {
  content: " - finished"
}
.finished {
  color: gray;
}
